/* body {
    background-image: url("img/background.jpg");
} */

/* .col-md-4 {} */

body{
    background: url("img/w85voqxm7me51.jpg");
    background-size: cover;
    font-family: 'Poppins',
    sans-serif;
    min-height: 100vh;
}

h1, p{
    color: white;
    text-shadow: 2px 2px 5px black;
}

img {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

img:hover {
    box-shadow: 0 5px 10px 0 rgba(255, 0, 0, 0.219);
}

.logo {
    box-shadow: none;
    height: 100px;
}

.logo:hover{
    box-shadow: none;
}

.move-up {
    animation: moveUp 0.75s;
}

.move-down {
    animation: moveDown 0.75s;
}

.result {
    animation: result 1s;
    transition-timing-function: ease-in;
}

@keyframes moveUp {

    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes moveDown {

    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes result {

    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

}